.speaker-top {
  position: relative;
  padding: var(--space-4);
}

.speaker-top::before {
  content: "";
  position: absolute;
  width: 224px;
  height: 40px;
  left: 0;
  top: 0;
  background: linear-gradient(152.16deg, #F4C19F -1.34%, #FFFFFF 97.97%);
  opacity: 0.61;
  z-index: 0;
}

.speaker-avatar {
  width: 84px;
  height: 84px;
  border-radius: var(--radius-round);
  z-index: 1;
  position: relative;
}

.speaker-avatar > span {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 88px;
  height: 88px;
  border-radius: var(--radius-round);
  position: relative;
}

.speaker-avatar > span.live:before {
  content: "";
  border: 2px solid var(--error);
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-round);
}

.speaker-avatar img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-round);
  object-fit: cover;
}

.speaker-avatar .liveLabel {
  display: grid;
  grid-template-columns: 16px auto;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-pill);
  align-items: center;
  position: absolute;
  background-color: var(--error-200);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--line-sm);
  color: var(--error);
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.speaker-bottom {
  padding: var(--space-4) var(--space-1) var(--space-4) var(--space-1);
  display: grid;
  gap: 0;
}

.speaker-bottom a.arrowLink {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-3);
  text-decoration: none;
  color: var(--primary-black);
  font-size: var(--font-md);
  line-height: var(--line-md);
  font-weight: 700;
}

.speaker-bottom a.arrowLink:hover {
  background-color: #f9fafb;
  border-radius: var(--radius-md);
}

.speaker-bottom p.exper-in {
  color: var(--dark-500);
  font-size: var(--font-sm);
  line-height: var(--line-sm);
  font-weight: 500;
  margin: 0 var(--space-3);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}